.crh1 {
  width: 300px; 
  height: 220px; 
  border: 15px solid #111111; 
  outline: 1px solid #8f24248f; 
  outline-offset: -7px; 
  margin: auto; 
  transition: ease .8s;  
  transition-delay: .8s;
}
.crh1 .corah { 
  width: 300px; 
  height: 220px; 
  overflow: hidden; 
  transition: ease .3s; 
  transition-delay: .3s;
}
.ch-1 {
  font-size: 7.5px; 
  color: #dedede; 
  font-family: calibri; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  width: 80px; 
  position: relative; 
  margin-top: 88px; 
  padding: 2px; 
  height: 30px; 
  text-align: justify; 
  line-height: 8px; 
  margin-left: 27px; 
  opacity: 0;  
  transition: ease-in .5s; 
  -webkit-transition: .5s ease-in; 
  -o-transition: .5s ease-in;
}
.crh1:hover .corah {
  filter: grayscale(70%); 
  transition: ease .8s;
}
.crh1 .corah:hover .ch-1 {
  opacity: 1;  
  transition: ease-out .5s; 
  -webkit-transition: .5s ease-out; 
  -o-transition: .5s ease-out;
}
.ch-1 strong {
  color: #402121!important;
}
